.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
node_modules
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
__pycache__

#只保留demo文件
!data/demo.json
data/
zzzz.js
yarn-error.log
KanbanConfig.json
target/*
